{
  "check-coverage": true,
  "cache": false,
  "all": true,
  "instrument": true,
  "statements": 0,
  "branches": 0,
  "functions": 0,
  "lines": 0,
  "reporter": [
    "text"
  ],
  "include": [
    "src/**/*.ts"
  ],
  "exclude": [
    "src/**/*.spec.ts"
  ],
  "extension": [
    ".ts"
  ]
}
